a {
  color: #00B7FF;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.brand-logo {
  width: 6em;
  height: 100%;
}

.metadata {
  line-height: 1em;
  margin: 0;
  padding: 0;
  font-size: .7em;
}

.collection-item {
  background-color: rgba(0,0,0,0.3) !important;
}

.btn {
  background-color: #29aae2 !important;
}

.material-icons {
  color: #ffffff !important;
}
/*MATERIALIZE OVERRIDES*/

nav {
  background-color: #29aae2 !important;
}

body {
  background-color: #424242 !important;
}

input, select, textarea {
    color: #ffffff !important;
}

textarea:focus, input:focus {
    color: #ffffff !important;
}
